<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sprint.Name %>
</p>

<p>
  <strong>Datum:</strong>
  <%= @sprint.Datum %>
</p>

<%= link_to 'Edit', edit_sprint_path(@sprint) %> |
<%= link_to 'Back', sprints_path %>
