<%= form_for(backlog_item) do |f| %>
  <% if backlog_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(backlog_item.errors.count, "error") %> prohibited this backlog_item from being saved:</h2>

      <ul>
      <% backlog_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ranking %>
    <%= f.select :ranking, BacklogItem.rankings.keys %>
  </div>

  <div class="field">
    <%= f.label :descripton %>
    <%= f.text_field :descripton %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
