<p id="notice"><%= notice %></p>

<h2>Product Backlog</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Descripton</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <% @listHigh.each do |high_item| %>
        <tr>
          <td><%= high_item.ranking %></td>
          <td><%= high_item.descripton %></td>
          <td><%= link_to 'Show', high_item %></td>
          <td><%= link_to 'Edit', edit_backlog_item_path(high_item) %></td>
          <td><%= link_to 'Destroy', high_item, method: :delete, data: {confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      <tbody>
      <% @listMedium.each do |medium_item| %>
          <tr>
            <td><%= medium_item.ranking %></td>
            <td><%= medium_item.descripton %></td>
            <td><%= link_to 'Show', medium_item %></td>
            <td><%= link_to 'Edit', edit_backlog_item_path(medium_item) %></td>
            <td><%= link_to 'Destroy', medium_item, method: :delete, data: {confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      <tbody>
      <% @listLow.each do |low_item| %>
          <tr>
            <td><%= low_item.ranking %></td>
            <td><%= low_item.descripton %></td>
            <td><%= link_to 'Show', low_item %></td>
            <td><%= link_to 'Edit', edit_backlog_item_path(low_item) %></td>
            <td><%= link_to 'Destroy', low_item, method: :delete, data: {confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
</table>

<br>

<%= link_to 'New Backlog Item', new_backlog_item_path %>
